<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--PAYPAL-->
    <!--SANBOX-->
    <add key="Sandbox.PayPal.UserName" value="sistemasguzman-facilitator_api1.gmail.com" />
    <add key="Sandbox.PayPal.Password" value="RGBTHEYV7ARVWDPZ" />
    <add key="Sandbox.PayPal.Signature" value="A.kyZ9AjzUix-aQ8t951OfOECkv9A2NaXASdTQ4R6TEKYtb5hLJgZ1.9" />
    <add key="Sandbox.PayPal.Url" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;useraction=commit&amp;token=" />

    <!--LIVE-->
    <add key="Live.PayPal.UserName" value="enrique.marin_api1.live.com" />
    <add key="Live.PayPal.Password" value="V87FB67A2YRNE53S" />
    <add key="Live.PayPal.Signature" value="ABMOWClwTY8bk9HFFVbKzUB4PBQVARqda4MSpKboS2V29Db1yaZ9o6NH" />
    <add key="Live.PayPal.Url" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&amp;useraction=commit&amp;token=" />

    <add key="PayPal.Callback.Ok" value="http://localhost:49331/callback-ok" />
    <add key="PayPal.Callback.Fail" value="http://localhost:49331/callback-fail" />

    <add key="PayPal.Type" value="Sandbox" />

    <!--EMAIL DATA-->
    <add key="Email.Host" value="smtp.gmail.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.User.Name" value="marinares042018@gmail.com" />
    <add key="Email.User.Password" value="9KRu6C4Ri4R42v8K7w" />
    <add key="Email.From" value="sistemasguzman@gmail.com" />
    <add key="Email.DisplayName" value="Marinares" />

    <!--PRESENT-->
    <add key="Route.Present" value="data.json"/>
    <add key="Route.Mail.Confirmation.Payment" value="http://localhost:49331/mailing/mail-confirmacion-paypal.html"/>
    <add key="Route.Mail.Confirmation" value="http://localhost:49331/mailing/mail-confirmacion-asistencia.html"/>

    <add key="Is.Payment.Test" value="false"/>
    <add key="Payment.Amount" value="10"/>


  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <!--<system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>-->
</configuration>

