<!-- Header -->
			<header class="ap-header">
				<div class="ap-header-navigation">
					<h1 class="ap-brand">
						<a href="/" class="ap-brand-link ap-img-sp ap-img-sp--ribbon-menu"></a>
						<span class="ap-txt">#Marinares | Esto es una boda de barrio</span>
					</h1>
					<div class="ap-header-logo-nav cf">
						<div class="ap-instagram f-left">
							<a href="https://www.instagram.com/explore/tags/marinares/" target="_blank" class="ap-nav-social icon-ms-instagram-circle">
								#marinares
							</a>

						</div>
						<div class="f-right ap-nav-ac">
							<a href="index.html#ap-confirmacion" class="ap-btn ap-btn--confirm">Confirmar Asistencia</a>
							<a href="#" class="ap-nav-icon">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</a>
						</div>
					</div>
				</div>
				{% include "partials/navigation.html" %}
			</header>
