<nav class="ap-nav">
					<ul id="ap-nav" class="ap-nav-list">
						<li class="ap-nav-item ap-nav-item--active">
							<a class="ap-nav-link" href="index.html#ap-inicio">Inicio</a>
						</li>
						<li class="ap-nav-item">
							<a class="ap-nav-link" href="#section-1">¿Dónde?</a>
						</li>
						<li class="ap-nav-item">
							<a class="ap-nav-link" href="#section-2">¿Dónde me puedo hospedar?</a>
						</li>
						<li class="ap-nav-item">
							<a class="ap-nav-link" href="#section-3">¿Cómo puedo vestir?</a>
						</li>
						<li class="ap-nav-item">
							<a class="ap-nav-link" href="#ap-confirmacion">Confirmar asistencia</a>
						</li>
						<li class="ap-nav-item">
							<a class="ap-nav-link" href="experiencia-japon.html">Mesa de regalos</a>
						</li>
					</ul>
				</nav>
