// Premios Cinépolis 2018
// Gulpfile included :: Gulp render console: Gulp
// Stylus console for windows: stylus -c -w marinares-master.styl -u nib rupture -o ../Content/css

@import 'nib'
@import 'components/cmps.colors'

html, body
	height: 100%

body
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $base
	font-family: 'Special Elite', cursive;
	font-size: 12px
	font-weight: 400
	overflow-x: hidden
	position: relative

	+above(760px)
		font-size: 14px
	
	+above(1040px)
		font-size: 16px

		
// Tools
@import 'components/cmps.normalizr'
@import 'components/cmps.animation'
@import 'components/cmps.grid'

// Components
@import 'components/cmps.fonts'
@import 'components/cmps.text-formating'
@import 'components/cmps.buttons'
@import 'components/cmps.scrollbar'
@import 'components/cmps.form'
@import 'components/cmps.uniform'

// // Vendors

// Layout
@import 'layout/lay.header'
@import 'layout/lay.footer'
@import 'layout/lay.layout'

// Pages
@import 'pages/page.inicio'
@import 'pages/page.grid-menu'
@import 'pages/page.confirmacion'
@import 'pages/page.class'
@import 'pages/page.experiencia'
@import 'pages/page.dresscode'
@import 'pages/page.itinerario'
@import 'pages/page.donde'
@import 'pages/page.itinerario'
@import 'pages/page.hosting'
