<!-- Confirmar asistencia -->
			<seciton id="ap-class" class="ap-lay ap-class">
				<div class="ap-table">
					<div class="ap-cell">
						<div class="ap-area">
							<div class="ap-img-sp ap-img-sp--couple-back"></div>
							<p class="ap-txt--quote">
								Esta es una boda de barrio, no tenemos balet ni estacionamiento.
							</p>
							<div class="ap-uber-rec">
								<p class="ap-txt--quote">
									Favor de venir caminando, en bici o en uber.
								</p>
								<a href="https://www.uber.com/es-MX/ride/" target="_blank" class="ap-uber">
									<img src="/Content/img/img-icon-uber.png" alt="Uber">
								</a>
							</div>
						</div>
					</div>
				</div>
			</seciton>
