<!-- Confirmar asistencia -->
			<seciton id="ap-confirmacion" class="ap-lay ap-confirmacion">
				<div class="ap-area">
					<h2 class="ap-tt">
						Confirmar asistencia
					</h2>
					<div class="cf">
						<div class="f-left ap-half">
							<p class="ap-txt">
								Para el comité organizador de #marinares indispensable saber con un <strong>100% de seguridad</strong> si contaremos con tu asistencia.
							</p>
							<p class="ap-txt">
								Así que te invitaos a que confirmes, si y sólo si, efectivamente asistirás, por aquí y por teléfono directamente con los novios o alguien del comité, para mayor seguridad.
							</p>
							<div class="ap-fig-quote">
								<figure class="ap-img-sp ap-img-sp--rings"></figure>
								<p class="ap-txt--quote">
									“No por amargados, solo porque somos muchos
								y el espacio es pequeño y queremos aprovecharlo
								de la mejor manera”
								</p>
							</div>

							<div class="ap-conf-data">
								<h3 class="ap-tt">
									Información:
								</h3>
								<div class="ap-conf-info">
									<ul class="ap-conf-list">
										<li class="ap-conf-iten">
											Ceremonia:
											<span class="ap-txt-geo">
												Estudio Calle Medellín no. XX Col. Roma
											</span>
										</li>
										<li class="ap-conf-iten">
											Fiesta:
											<span class="ap-text-geo">
												Calle de Puebla no. 137, Col. Roma
												Delegación Cuauhtémoc, CDMX
											</span>
										</li>
									</ul>
								</div>
								<div class="ap-conf-address">
									<ul class="">
										<li class="">14 de Abril 2018</li>
										<li class="">Ceremonia:  5 pm.</li>
										<li class="">Fiesta:      7 pm.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="f-left ap-half">
							<form action="" class="">
								<div class="ap-field">
									<label for="" class="ap-fl-label">Nombre:</label>
									<input type="text" class="ap-fl-txt">
								</div>
								<div class="ap-field">
									<label for="" class="ap-fl-label">e-mail*:</label>
									<input type="text" class="ap-fl-txt">
								</div>
								<div class="ap-field">
									<label for="" class="ap-fl-label">Teléfono:</label>
									<input type="text" class="ap-fl-txt">
								</div>
								<div class="ap-field">
									<label for="" class="ap-fl-label">Mensaje:</label>
									<textarea class="ap-fl-txt-area"></textarea>
								</div>
								<nav class="ap-field-nav">
									<input type="submit" value="Confirmar Asistencia" class="ap-btn ap-btn--sb">
								</nav>
							</form>
						</div>
					</div>
				</div>
			</seciton>
