<!-- Grid Menú -->
			<seciton id="ap-grid-menu" class="ap-lay ap-grid-menu cf">
				<div class="ap-area">
					<div class="cf">
						<div class="col4">
							<div class="ap-gm-item ap-gm--donde">
								<a href="#" class="ap-gm-link">
									<div class="ap-gm--tt">
										<div class="ap-table">
											<div class="ap-cell">
												<h4 class="ap-tt-gm">
													Ubicación
													<small class="ap-tt-gm-tp">¿Dónde?</small>
												</h4>
											</div>
										</div>
									</div>
									<picture>
										<source srcset="/Content/img/img-donde.jpg" media="(min-width: 700px)">
										<img srcset="/Content/img/img-donde-mov.jpg" alt="Nominado a" class="ap-nom-img">
									</picture>
								</a>
							</div>
						</div>
						<div class="col8">
							<div class="ap-gm-item ap-gm--itinerario col5">
								<a href="#" class="ap-gm-link">
									<div class="ap-gm--tt">
										<div class="ap-table">
											<div class="ap-cell">
												<h4 class="ap-tt-gm">
													Itinerario
													<small class="ap-tt-gm-tp">Esto es una fiesta de barrio</small>
												</h4>
											</div>
										</div>
									</div>
									<picture>
										<source srcset="/Content/img/img-cat.jpg" media="(min-width: 700px)">
										<img srcset="/Content/img/img-cat-mov.jpg" alt="Nominado a" class="ap-nom-img">
									</picture>
								</a>
							</div>
							<div class="ap-gm-item ap-gm--dresscode col6">
								<a href="#" class="ap-gm-link">
									<div class="ap-gm--tt">
										<div class="ap-table">
											<div class="ap-cell">
												<h4 class="ap-tt-gm">
													Dress Code
													<small class="ap-tt-gm-tp">¿Cómo puedo vestir?</small>
												</h4>
											</div>
										</div>
									</div>
									<picture>
										<source srcset="/Content/img/img-dress-code.jpg" media="(min-width: 700px)">
										<img srcset="/Content/img/img-dress-code-mov.jpg" alt="Nominado a" class="ap-nom-img">
									</picture>
								</a>
							</div>
						</div>
					</div>
					
					<div class="cf">
						<div class="ap-gm-small col4">
							<div class="ap-gm-item ap-gm--hotel">
								<a href="#" class="ap-gm-link">
									<div class="ap-gm--tt">
										<div class="ap-table">
											<div class="ap-cell">
												<h4 class="ap-tt-gm">
													Hospedaje
													<small class="ap-tt-gm-tp">¿Dónde me puedo hospedar?</small>
												</h4>
											</div>
										</div>
									</div>
									<picture>
										<source srcset="/Content/img/img-hospedaje.jpg" media="(min-width: 700px)">
										<img srcset="/Content/img/img-hospedaje-mov.jpg" alt="Nominado a" class="ap-nom-img">
									</picture>
								</a>
							</div>
						</div>
						<div class="ap-gm-long col8">
							<div class="ap-gm-item ap-gm--japon">
								<a href="#" class="ap-gm-link">
									<div class="ap-gm--tt">
										<div class="ap-table">
											<div class="ap-cell">
												<h4 class="ap-tt-gm">
													Mesa de regalos
													<small class="ap-tt-gm-tp">Experiencia JAPÓN</small>
												</h4>
											</div>
										</div>
									</div>
									<picture>
										<source srcset="/Content/img/img-japon.jpg" media="(min-width: 700px)">
										<img srcset="/Content/img/img-japon-mov.jpg" alt="Nominado a" class="ap-nom-img">
									</picture>
								</a>
							</div>
						</div>
					</div>
				</div>
			</seciton>
