.ap
	&-modal
		&--start
			+below(740px)
				animation: 6s shairs both
				background: url('//dsoh5jykc8zh3.cloudfront.net/img/genericos/FK29-OK32-HN49-RD49/img-bg-entra.jpg') no-repeat #000
				background-size: 64em auto
				background-position: center 0
				
				&:after
					animation: 1s fadeIn 3.5s both
					background-color: #FFF;
					content: '';
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;
	
	&-media
		&-wrap
			position: absolute
			width: 100%
			height: 100%

		&-video
			height: 100%
			width: 100%

		
