// Couple composition
.ap-inicio
	height: 100%
	overflow-x: hidden

.ap-cp
	display: block;
	font-size: 0.7em;
	height: 34em;
	margin: 3em auto 0;
	position: relative;
	width: 25.5em;
	
	+above(370px)
		font-size: 1em
	
	@media screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait)
		font-size: 1.5em
	
	+above(1000px)
		font-size: 1.1em
	
	+above(1480px)
		font-size: 1.2em
	
	&-prx
		position: absolute
		
		// Elements
		.ap-img-sp			
			&--weed
				font-size: 0.62em;
				left: 50%;
				margin-left: -2.4em;
			
	// Flow
	.ap-img-sp--ribbon-flowers
		font-size: 0.7em;
		left: 50%;
		margin-left: -18.9em;
		bottom: 50%;
		margin-bottom: -24.5em;
		z-index: 2;
		
	&-weed
		top: 50%
		z-index: 2
	
	&-marin
		font-size: .67em;
		top: 50%;
		margin-top: -23.6em;
		left: 0;
		z-index: 2
	
	&-ares
		font-size: .67em;
		left: 50%;
		margin-left: 0.7em;
		top: 50%;
		margin-top: -23.4em;
		z-index: 2
	
	&-flag
		&-left
			font-size: 0.7em;
			left: 50%;
			margin-left: -44.4em
			top: 50%;
			margin-top: -26.8em;
		
		&-right
			font-size: 0.7em;
			right: 50%;
			margin-right: -38em;
			top: 50%;
			margin-top: -26.8em;
			
.ap-inicio
	display: inline-table;
	width: 100%;
	padding-top: 6.8em;
	border: 1em solid #FFF;

.ap-bienvenida
	text-align center
	padding: .6em 1em 1.6em

	.ap-tt
		position: relative
		margin-bottom: .6em
		
		&:after, &:before
			content: '-'
	
	&-hash
		font-size: 1.2em;
		display: block;
		margin-top: 1em;
		font-weight: bolder;
		opacity: .8;
	

