.ap
	&-section--itn
		.ap-dc-palete 
			margin: 1em auto
			width: 50%

	&-florc
		display: block;
		font-size: 2em;
		margin: .5em auto;
		width: 4em;
	
	&-jp-head
		&--info
			margin-top: 0
	
	&-timesheet
		max-width: 30em
		margin: auto
		
	&-tms
		&-item
			margin-bottom: 2em
			&:nth-child(2)
				.ap-txt--cursive
					text-align: right
	
	&-img
		&-cake
			margin: auto
			width: 10em
			
			img
				width: 100%
