.ap-jp-head
	&--donde
		background-color: transparent
		margin-top: 0
		margin-bottom 0
		padding-bottom 0
	
	&--dnd
		margin-top 0
		
		.ap-txt--info
			float: left
			margin-left: .6em
		
		.col8
			+above(660px)
				padding-left: 10%
				
			+below(660px)
				margin: 0
				width: 100%

			.cf
				margin-bottom: 1em
				
			.ap-uber
				float: left
				margin: 0 .6em .6em 0
				font-size: .6em
				
				img
					width: 100%
		
		.col4
			+below(660px)
				margin: 0
				width: 100%
				
	
	+below(660px)
		.col6
			width: 100%
			margin-left: 0

.ap
	&-dnd
		&-map
			img
				width: 100%
		
		&-info
			background-color: #FFF
			padding: 1em
		
		&-sp
			text-align: center
			display: block
			padding: 0.6em 0
			margin 0
		
		&-camera
			img
				width: 22%
				
				+above(660px)
					width: 60%
					
