.ap-confirmacion
	background-color: #fff7eb
	
	.ap-tt
		text-align center
		margin-bottom: .7em
		
		&:after, &:before
			background: url(../img/img-spark.png) no-repeat;
			content: '';
			width: 1em;
			height: 1em;
			position: absolute;
			background-size: 1em auto;
		
		&:before
			left: 50%;
			margin-left: -6.7em;
		
		&:after
			right: 50%
			margin-right: -6.7em
	
	.ap-txt
		font-family: 'Georgia', serif
		padding-bottom: 1em
		
		&--quoute
			font-family: 'Georgia', serif
		
.ap
	&-fig-quote
		.ap-img-sp
			font-size: .6em;
			margin: 0 auto 2em;				
