// Couple composition
.ap-cp
	display: block;
	width: 25.5em;
	margin: auto;
	height: 34em;
	position: relative;
	font-size: .8em
	
	&-prx
		position: absolute
		
		// Elements
		.ap-img-sp
			position: absolute
			
			&--weed
				font-size: .55em
				
		// position
	
	// Flow
	.ap-img-sp--ribbon-flowers
		font-size: 0.7em;
		left: 50%;
		margin-left: -18.9em;
		bottom: 50%;
		margin-bottom: -24.5em;
		z-index: 2;
		
	&-weed
		top: 50%
		z-index: 1
	
	&-marin
		font-size: .67em;
		top: 50%;
		margin-top: -20em;
	
	&-ares
		font-size: .67em;
		left: 50%;
		margin-left: -0.7em;
		top: 50%;
		margin-top: -21.1em;
			
.ap-inicio
	background: url('../img/img-texture-bg.jpg')
	display: inline-table;
	width: 100%;
	padding-top: 6.8em;
	border: 1em solid #FFF;

.ap-bienvenida
	text-align center
	padding: .6em 1em 1.6em

	.ap-tt
		position: relative
		margin-bottom: .6em
		
		&:after, &:before
			content: '-'
	
	&-hash
		font-size: 1.2em;
		display: block;
		margin-top: 1em;
		font-weight: bolder;
		opacity: .8;
	

