.ap
	&-section--hosting
		+below(660px)
			.col4
				margin: 0 0 1em 0
				width: 100%
		
		.ap-panel--white
			&:last-child
				text-align: center
				

	&-htl
		&-tt
			font-size: 1.2em !important

		&-card
			margin-bottom: 1em
			
			.ap-dc-img
				margin: 1em
				width: 60%
				
				+above(760px)
					margin: 1em auto;
					width: 60%;
					float: none;
			
			.ap-htl-btn
				width: 100%
				max-width: 100%

		&-fig
			img
				width: 100%
		
		&-info
			text-align: left
			
			.ap-txt-field
				margin-bottom: 1em

				&--red
					color: $red
					display: block
					margin-bottom: .4em
		
		&-hotels
			padding: 0 1em
			margin-top: 1em
	
	&-jp
		&-arbnb
			margin-top: 1em
			
			strong a
				color: $base
				text-decoration: underline
			
			&-nav
				max-width: 80%
				margin: 1em auto 0
				
				.ap-btn
					max-width: 100%
					
				+below(480px)
					.col6
						&:first-child
							margin-bottom: 1em
			
			
			
