// Titles
h1
	font-size: 1.8em

h2
	font-size 1.7em
	
h3
	font-size: 1.3em

h4
	font-size: 1.2em

.ap
	// Text titles
	&-tt
		font-weight: 800
	
		&-sub
			font-weight: 800

	// Parraps
	&-txt
		color: $base
		
		&-quote
			font-size: .88em
			font-style: italic
			opacity: .8
		
		&-link
			color: $base
			text-decoration: underline
