// Titles
h1
	font-size: 1.8em

h2
	font-size: 1.7em

h3
	font-size: 1.4em

h4
	font-size: 1.2em

.ap
	// Titles
	&-tt
		color: $base
		font-weight: bolder
		
			// subtitle
		&-cursibe
			font-family: 'Great Vibes', cursive;
			
			
		&--modal
			font-size: 4em
	
	&-txt
		color: $base
		font-size: 1.2em
		
		&--win
			strong
				display: block
	
		&-link
			color: $base
			text-decoration: underline
		
		&--small
			font-size: 90%
			font-weight:
		
		&-geo
			font-family: 'Georgia', serif




			
