// Uniforms
div.checker
	display: inline-block
	zoom: 1
	vertical-align: middle
	&:focus
		outline: 0
		
div.checker, div.checker *
	margin: 0
	padding: 0


div.checker input,
input[type="search"],
input[type="search"]:active
	-moz-appearance: none
	-webkit-appearance: none

// Checker 
div.checker
	margin-right: 5px
	position: relative
	
	span
		display: inline-block
		zoom: 1
		text-align: center
		position: relative
		
		&:before
			font-family: 'trivia-icons' !important;
			content: "\e901"
			color: $blue
			
		
		&.checked
			position: relative
		
			&:before
				content: "\e902"
			
	input
		border: medium none
		display: inline-block
		left: 0
		opacity: 0
		position: absolute
		top: 0
		
div.checker, div.checker span, div.checker input
	width: 22px
	height: 22px
