.ap-btn
	display block
	color: $base
	text-align center
	border: .2em solid $red
	max-width: 16em
	width: 100%
	border-radius: 1em
	padding: .3em
	
	&--sb
		background-color: $red
		color: #FFF

	&-scroll-down
		display block
		width: 1.6em
		height: 2.2em
		border: 1px solid #FFF
		position: absolute
			
	
