// Colors

// Gradients
$gold = #DAC799
$shineGold = #C69E35

// Solid Colors
$base = #434343

// Social
$facebook = #3b5998
$fbhover = #8b9dc3

$twitter = #00aced
$twhover = #c0deed

// Selections
::selection
	background: $green
	color: #FFF
	text-shadow: none

::-moz-selection
	background: $green
	color: #FFF
	text-shadow: none

