{% extends "layout.html" %}
{% set title = 'Inicio' %}
{% set page = 'home' %}

{% block content %}
				<article class="ap-elements ap-lay ap-buttons">
					<h3 class="ap-tt">Botones</h3>

					<a href="" class="ap-btn ap-btn--hm">PARTICIPA PARA GANAR UN AUDI A3</a>
					<a href="#" class="ap-btn ap-btn--cm">CREAR QUINIELA</a>
					<a href="" class="ap-btn ap-btn--ac">EDITAR</a>
					<a href="" class="ap-btn ap-btn--ac">CERRAR SESIÓN</a>

					<!-- // Submit -->
					<button class="ap-btn ap-btn--sbm">ES UN BUTTON</button>
					<input type="submit" class="ap-btn ap-btn--sbm" value="ENTRAR">
					
				</article>
{% endblock content %}
