
@{
    ViewBag.Title = " | Donde hospedarse";
}

<article class="ap-section ap-section--hosting ap-pn-sc">
    <div class="ap-panel--white">
        <div class="ap-jp-characters">
            <div class="ap-img-sp ap-img-sp--marin"></div>
            <div class="ap-img-sp ap-img-sp--ares"></div>
        </div>
        <div class="ap-jp-head">
            <h2 class="ap-tt-sub">- ¿Dónde me puedo hospedar? -</h2>
            <p class="ap-txt">
                Alrededor de la zona de la fiesta hay mas de 30 hoteles de todas las categorías para que los foráneo se queden y lleguen caminando a la fiesta, pero los tres que nosotros recomendamos son:
            </p>

            <div class="cf ap-htl-hotels">
                <div class="col4">
                    <div class="ap-htl-card">
                        <figure class="ap-htl-fig">
                            <img src=@Url.Content("~/Content/img/img-hotel-01.jpg") alt="">
                        </figure>
                        <img class="ap-dc-img" src=@Url.Content("~/Content/img/img-palette.png")>
                        <div class="ap-htl-info">
                            <h2 class="ap-tt-sub ap-htl-tt">
                                Hotel Four Points By Sheraton
                            </h2>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Dirección:</span>
                                Álvaro Obregón Numero 38 - Roma - Ciudad de México -México
                            </p>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Distancia:</span>
                                5 minutos caminando del lugar de la fiesta.
                            </p>
                        </div>
                        <a href="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3738&SWAQ=958C" target="_blank" class="ap-btn ap-htl-btn">Visitar Sitio Web</a>
                    </div>
                </div>
                <div class="col4">
                    <div class="ap-htl-card">
                        <figure class="ap-htl-fig">
                            <img src=@Url.Content("~/Content/img/img-hotel-02.jpg") alt="">
                        </figure>
                        <img class="ap-dc-img" src=@Url.Content("~/Content/img/img-palette.png")>
                        <div class="ap-htl-info">
                            <h2 class="ap-tt-sub ap-htl-tt">
                                Hotel Stanza
                            </h2>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Dirección:</span>
                                lvaro Obregón 13, Roma Norte, 06700 Cuauhtémoc, CDMX
                            </p>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Distancia:</span>
                                5 minutos caminando del lugar de la fiesta.
                            </p>
                        </div>
                        <a href="https://stanzahotel.com/" target="_blank" class="ap-btn ap-htl-btn">Visitar Sitio Web</a>
                    </div>
                </div>
                <div class="col4">
                    <div class="ap-htl-card">
                        <figure class="ap-htl-fig">
                            <img src=@Url.Content("~/Content/img/img-hotel-03.jpg") alt="">
                        </figure>
                        <img class="ap-dc-img" src=@Url.Content("~/Content/img/img-palette.png")>
                        <div class="ap-htl-info">
                            <h2 class="ap-tt-sub ap-htl-tt">
                                Condesa DF
                            </h2>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Dirección:</span>
                                Av. Veracruz 102, Roma Nte., 06700 Ciudad de México, CDMX

                            </p>
                            <p class="ap-txt-field">
                                <span class="ap-txt-field--red">Distancia:</span>
                                15 minutos caminando del lugar de la fiesta.
                            </p>
                        </div>
                        <a href="http://www.condesadf.com/" target="_blank" class="ap-btn ap-htl-btn">Visitar Sitio Web</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ap-panel--white">
        <p class="ap-txt">
            En los tres hoteles con la clave <strong>#marinares</strong> o <strong>“Boda de Enrique y Aurora”</strong> les ofrecerán una tarifa preferencial.
        </p>
    </div>

    <div class="ap-panel--white">
    	<div class="ap-jp-head ap-jp-arbnb">
    		<p class="ap-txt">
    			Para una mejor experiencia recomendamos buscar en <strong><a href="https://www.airbnb.mx/" target="_blank">airbnb.com</a></strong>, nuestra mejor recomendación son las casa gemelas: 
    		</p>
    		<div class="cf ap-jp-arbnb-nav">
    			<div class="col6"><a target="_blank" href="https://www.airbnb.mx/rooms/17268085?s=51" class="ap-btn">Casa Josefa</a></div>
    			<div class="col6"><a target="_blank" href="https://www.airbnb.mx/rooms/17778676?s=51" class="ap-btn">Casa Martina</a></div>
    		</div>
    	</div>
    </div>
</article>

