@{
		ViewBag.Title = " | Como vestir";
}
<link rel="stylesheet" href=@Url.Content("~/Content/css/marinares-swiper.css")>

<article class="ap-section ap-pn-sc">
	<div class="ap-panel--white">
		<div class="ap-jp-characters">
			<div class="ap-img-sp ap-img-sp--marin"></div>
			<div class="ap-img-sp ap-img-sp--ares"></div>
		</div>
		<header class="ap-jp-head">
			<h2 class="ap-tt-sub">- ¿Cómo puedo vestir? -</h2>
			<p class="ap-txt">
				No hay mucho que saber acerca del Dress Code de <strong>#marinares</strong>, el tema de la boda es <strong>“Hipster-bohemio-chic con toques mágicos”</strong>, sírvase de interpretarlo a su conveniencia, sólo recuerden que es formal, que es al aire libre, pero no hace frío ya que será en plena primavera. Ideal para texturas, bordados y flores en mujeres. No se permite el blanco, el negro total, ni color vino <i>(es el color del novio)</i>.
			</p>
			<img src=@Url.Content("~/Content/img/img-lacre.png") class="ap-lacre">
			<p class="ap-txt">
				El negro se puede combinar, las texturas como: cuadritos, bordados y estampados en los trajes en hombres y en los vestidos en mujeres… <strong>¡Son bienvenidos!</strong>  También nos gustan las pajaritas, accesorios, fistoles y uno que otro sombrero no estaría mal. Lo importante es que nada te impida bailar y pasarla bien.
			</p>
		</header>
		<section class="ap-dc">
			<div class="ap-dc-palete cf">
				<h2 class="ap-tt-sub">Gama sugerida de colores</h2>
				<img class="ap-dc-img" src=@Url.Content("~/Content/img/img-palette.png")>
			</div>
		</section>
		<section class="ap-dc ap-gn-panel">
			<div class="ap-dc-men-girl cf">
				<div class="col6">
					<h2 class="ap-tt-sub">-Recomendaciones Mujeres</h2>
					<div class="ap-woman-carou">
						<div class="ap-wm-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-girls.jpg")>
						</div>
						<div class="ap-wm-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-girls-02.jpg")>
						</div>
						<div class="ap-wm-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-girls-03.jpg")>
						</div>
					</div>
				</div>
				<div class="col6">
					<h2 class="ap-tt-sub">-Recomendaciones Hombres</h2>
					<div class="ap-man-carou">
						<div class="ap-mn-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-boys.jpg")>
						</div>
						<div class="ap-mn-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-boys-02.jpg")>
						</div>
						<div class="ap-mn-item">
							<img class="ap-dc-img-colage" src=@Url.Content("~/Content/img/img-dress-boys-03.jpg")>
						</div>
					</div>
				</div>
			</div>
		</section>
		<img src=@Url.Content("~/Content/img/img-ramo.png") alt="" class="ap-dc-ramo">
	</div>
</article>
