.ap
	&-main
		height: 100%
		
	&-area
		padding: 1em
		position: relative
		z-index: 10
		
	// Layouts
	&-layout
		height: 100%
		
	&-lay
		display inline-table
		width: 100%
	
	&-cole
		margin-bottom: 1em
		border-bottom: 1px solid
		padding-bottom: 1em
	
	&-section
		border-width: 1em 1em 0 1em
		border-style: solid
		border-color: #FFF
		transition: .40s all
		opacity: 0
		
		&--ready
			opacity: 1
			
			.ap-img-sp
				animation: 1s fadeInUp both
				
				&--marin
					animation-delay: .2s
				&--ares
					animation-delay: .4s
				
	
	&-pn-sc
		padding-top: 9.6em
		background-size: cover
		padding-bottom: 1em
	
	// Panel generico
	&-gn-panel
		background-color: #FFF
		width: 90%
		margin: auto
		padding: 1em

	// Imagesheet
	&-lacre
		display: block;
		width: 2em;
		height: 2em;
		margin: 0.5em auto;
		font-size: 2em;

	&-inicio, &-class, &-japan, &-pn-sc
		background: url('../img/img-texture-bg.jpg') no-repeat center center
		
		+above(1200px)
			background-size: cover
		
	&-img
		&-sp
			background: url('../img/img-site-spritesheet.png')
			background-size: 46.6em auto
			
			// Flags
			&--flag
				&-left
					width: 43.2em
					height: 15em
					background-position: 0 0
					background-size: 46.6em
				
				&-right
					background-position: 0 -15em
					width: 40em
					height: 15em
				
			&--rings
				background-position: 0 -31em
				width: 19em
				height: 11.2em
			
			&--ribbon
				background-position: 0 -49em
				width: 46.5em
				height: 33em

				&-menu
					background-position: -6.7em 14em
					width: 34em
					height: 12em
				
				&-flowers
					background-position: -4.2em -85.5em
					width: 38.2em
					height: 28.4em
				
			&--weed
				background-position: 0 -115.8em
				width: 46.5em
				height: 16.6em
			
			&--marin
				background-position: 0 -136.4em
				width: 22em
				height: 33.2em
			
			&--ares
				background-position: -28.1em -136.4em
				width: 19em
				height: 34em
			
			&--couple-back
				background-position: 0 -170em
				width: 46em
				height: 47em

// Error Form
.field-validation-error
	display: block;
	padding: 1em;
	background-color: #912b43;
	color: #FFF;
	font-style: italic;
	font-size: 0.7em;
