.ap
	&-header
		background-color: #FFF
		position: fixed
		width: 100%
		z-index: 20
		
		&-logo
			&-nav
				padding: 1em;
				
				+above(1100px)
					padding: 2.2em 6em 3em 1em
		
		&-navigation
			position: relative
			z-index: 2
		
		&--ribbon
			+above(760px)
				.ap-brand
					font-size: 2.3em;
					height: 3em;
					transition: .20s all
					transition-timing-function: ease-in
					pointer-events: none;	

					&-link
						background-position: 0 -49em
						width: 46.5em
						height: 33em
		
		&--slim
			+above(760px)
				.ap-brand
					font-size: 1.4em;
					height: 4.4em;		
			

	
	&-brand
		display: block;
		width: 14em;
		margin: 0 auto;
		font-size: 1.5em;
		padding: .8em 0 0;
		height: 4.4em;

		.ap-txt
			font-size: 0
			width: 0
			height: 0
		
		&-link
			display: block
			margin: auto
			font-size: .3em
		
		+above(1100px)
			padding: .2em;
			position: absolute;
			width: 100%;
			z-index: -1;
				
	// Instagram
	// &-instagram
	// 	width: 100%
	
	&-nav
		background-color: #FFF
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		padding: 10.6em 1em 1em;
		left: -100%
		z-index: 1
		transition: .30s linear
		transition-timing-function: ease-in;
		
		+above(1000px)
			width: 24em
			padding: 7.3em 1em 1em
		
		&--is-visible
			left: 0
			
			.ap-nav-item
				animation: .6s fadeInRight both
				
				&:nth-child(2)
					animation-delay: .2s
				
				&:nth-child(3)
					animation-delay: .4s
				
				&:nth-child(4)
					animation-delay: .6s
				
				&:nth-child(5)
					animation-delay: .8s
				
				&:nth-child(6)
					animation-delay: 1s
		
		&-list
			height: 100%
			
		&-item
			background-color: rgba(255,255,255,0.9);
			height: 16.666%;
			border-bottom: 1px solid rgba($base,0.2);
			padding-left: 1em;
			
			+above(1000px)
				height: initial
			
			&--active
				border-color: $red
				font-weight: bolder
			
			&:last-child
				border: 0 none
				
		&-link
			color: $base
			padding: 7.8% 0
			display block
			
			+above(1000px)
				padding: 2em 0
		
		// &-ac
		// 	width: 100%
		
		&-social
			color: $base
			font-size: 1.4em;

// Hamburguer Menu
.ap-nav-icon
	color: $base
	display: block
	height: 2.5em
	font-size: 1.2em
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	width: 2.6em
	position: absolute;
	top: 1.4em;
	right: 1.2em;

	span
		background: #d3531a;
		border-radius: 10em
		display: block;
		height: .3em;
		left: 0;
		opacity: 1;
		position: absolute;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		width: 100%;
		
		&:before
			content: ''
			border-radius: 1em
			position: absolute
			height: 100%
		
		&:nth-child(1)
			background-color: $base
			top: .2em
			
		&:nth-child(2), &:nth-child(3)
			background-color: $base
			top: 1em
		
		
		&:nth-child(4)
			background-color: $base
			top: 1.8em
	
	&--active
		span
			&:nth-child(1)
				top: 1em
				width: 0%;
				left: 50%;
			
			&:nth-child(2)
				transform: rotate(45deg);
			
			&:nth-child(3)
				background-color: #ABA699
				transform: rotate(-45deg);
				
				&:before
					opacity: 1
					right: 0
			
			&:nth-child(4)
				top: 1em
				width: 0%;
				left: 50%;
	
	&:before 
		content: 'Menú'
		position: absolute
		bottom: -1.2em
		
