{% extends "layout.html" %}
{% set title = '¿Dónde?' %}
{% set page = 'Donde' %}

{% block content %}
				<article class="ap-section ap-section--itn ap-it ap-pn-sc">
					<div class="ap-panel--white">
						<div class="ap-jp-characters">
							<div class="ap-img-sp ap-img-sp--marin"></div>
							<div class="ap-img-sp ap-img-sp--ares"></div>
						</div>
						<header class="ap-jp-head">
							<h2 class="ap-tt-sub">- ¿Dónde? -</h2>
							<p class="ap-txt">
								Para nosotros el espacio es un tema fundamental en la ritualidad por lo que hemos escogido la <strong>Colonia Roma</strong> como escenario para nuestra unión.
							</p>
						</header>
					</div>

					<div class="ap-panel--white">
						<div class="ap-jp-head ap-jp-head--donde cf">
							<div class="cf">
								<div class="col6">
									<figure class="ap-dnd-map">
										<img src="/Content/img/img-map.png" alt="">
									</figure>
								</div>	
								<div class="col6 ap-dnd-info">
									<ul class="ap-timesheet cf">
										<li class="ap-tms-item">
											<p class="ap-txt--cursive">
												<strong>Ceremonia -</strong>
											</p>
											<div class="cf">
												<p class="ap-txt--time f-left">1.-</p>
												<p class="ap-txt--info f-right">
													Ceremonia espiritual no denominativa y boda civil en la Calle de Medellín número #110. 5pm.
												</p>
											</div>
										</li>
										<li class="ap-tms-item">
											<p class="ap-txt--cursive">
												<strong>- Procesión</strong>
											</p>
											<div class="cf">
												<p class="ap-txt--time f-left">2.-</p>
												<p class="ap-txt--info f-right">
													Procesión desde el lugar de la ceremonia por toda la avenida Álvaro Obregón hasta el lugar de la fiesta. (Banda de viento y mojigangas incluidas)
												</p>
											</div>
										</li>
										<li class="ap-tms-item">
											<p class="ap-txt--cursive">
												<strong>#marinares</strong>
											</p>
											<div class="cf">
												<p class="ap-txt--time f-left">3.-</p>
												<p class="ap-txt--info f-right">
													Fiesta, cena, música y <strong>buena onda a morir</strong> en la Calle de Puebla #137 en la Colonia Roma. 7pm.
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<p class="ap-txt--cursive ap-dnd-sp">
								<strong>Tu asistencia será para nosotros la mejor experiencia.</strong>
							</p>
						</div>
					</div>

					<div class="ap-panel--white">
						<div class="ap-jp-head ap-jp-head--dnd cf">
							<h2 class="ap-tt-sub">*Notas</h2>
							<div class="cf">
								<div class="col8">
									<div class="cf">
										<p class="ap-txt--time f-left">*</p>
										<p class="ap-txt--info f-right">
												<a href="https://www.uber.com/es-MX/ride/" target="_blank" class="ap-uber f-left">
													<img src="/Content/img/img-icon-uber.png" alt="Uber">
												</a>
												Esta es una boda de barrio, no tenemos estacionamiento, favor de venir caminando. (Uber muy recomendable).
										</p>

									</div>
									<div class="cf">
										<p class="ap-txt--time f-left">*</p>
										<p class="ap-txt--info f-right">
												En esta boda si se baila caballo dorado, si se le pegan billetes a los novios y si se hace la víbora de la mar.
										</p>
									</div>
									<div class="cf">
										<p class="ap-txt--time f-left">*</p>
										<p class="ap-txt--info f-right">
												Estrictamente no niños. (No somos amargos, simplemente no cabemos)
										</p>
									</div>
								</div>
								<div class="col4">
									<figure class="ap-dnd-camera">
										<img src="/Content/img/img-camera.png" alt="Camera">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</article>
				{% include "partials/footer.html" %}
{% endblock content %}
