{% extends "layout.html" %}
{% set title = 'Experiencia en Japón' %}
{% set page = 'Japon' %}

{% block content %}
				<article class="ap-section ap-japan">
					<header class="ap-jp-head">
						<h2 class="ap-tt-sub">Experiencia Japón</h2>
						<p class="ap-txt">
							Debido a que llevamos viviendo juntos tres años, ya contamos con todo lo necesario para nuestro hogar. Así que puedes regalarnos una de las siguientes experiencias durante la “Luna de Miel” puedes hacerlo de la siguiente manera:
						</p>
					</header>
					<section class="ap-panel ap-japan-info">
						<ul class="ap-jp-options">
							<li class="ap-jp-item">
								<div class="ap-jp-card">
									<figure class="ap-jp-fig">
										<img src="" alt="" class="ap-jp-img">
										<span class="ap-jp-prices"></span>
									</figure>
									<div class="ap-jp-info">
										<h2 class="ap-tt-sub"></h2>
										<input type="submit" value="Comprar" class="ap-btn ap-btn--sb">
									</div>
								</div>
							</li>
						</ul>
					</section>
				</article>

{% endblock content %}
