{% extends "layout.html" %}
{% set title = 'Cómo vestir' %}
{% set page = 'Dress code' %}

{% block content %}
				<article class="ap-section ap-it ap-pn-sc">
					<div class="ap-panel--white">
						<div class="ap-jp-characters">
							<div class="ap-img-sp ap-img-sp--marin"></div>
							<div class="ap-img-sp ap-img-sp--ares"></div>
						</div>
						<header class="ap-jp-head">
							<h2 class="ap-tt-sub">- Itinerario -</h2>
							<p class="ap-txt">
								Queremos invitarte a la celebración de este momento tan importante en nuestras vidas.
							</p>
							<img src="../Content/img/img-flor-central.png" class="ap-florc">
							<p class="ap-txt">
								Nuestra unión se llevará acabo el: sábado 14 de abril en la Colonia Roma, en la Ciudad de México.
							</p>
						</header>
						<section class="ap-dc">
							<div class="ap-dc-palete cf">
								<h2 class="ap-tt-sub">Gama sugerida de colores</h2>
								<img class="ap-dc-img" src="../Content/img/img-palette.png">
							</div>
						</section>
						<img src="../Content/img/img-ramo.png" alt="" class="ap-dc-ramo">
					</div>
				</article>
				{% include "partials/footer.html" %}
{% endblock content %}
