{% extends "layout.html" %}
{% set title = 'Inicio' %}
{% set page = 'home' %}

{% block content %}
				<article class="ap-cole">
					<a href="#" class="ap-btn">Confirmar Asistencia</a>
					<input type="submit" value="Confirmar Asistencia" class="ap-btn ap-btn--sb">
				</article>
				<article class="ap-cole">
					<h1 class="ap-tt">Título</h1>
					<h2 class="ap-tt-cursibe">Subtítulo</h2>
				</article>

				<article class="ap-cole">
					<div class="ap-img-sp ap-img-sp--flag-left"></div>
					<div class="ap-img-sp ap-img-sp--flag-right"></div>
					<div class="ap-img-sp ap-img-sp--rings"></div>
					<div class="ap-img-sp ap-img-sp--ribbon"></div>
					<div class="ap-img-sp ap-img-sp--ribbon-menu"></div>
					<div class="ap-img-sp ap-img-sp--ribbon-flowers"></div>
					<div class="ap-img-sp ap-img-sp--weed"></div>
					<div class="ap-img-sp ap-img-sp--marin"></div>
					<div class="ap-img-sp ap-img-sp--ares"></div>
					<div class="ap-img-sp ap-img-sp--couple-back"></div>
				</article>
{% endblock content %}
