
			<article id="ap-modal--terms" class="ap-overlay ap-modal--terms">
				<div class="ap-table">
					<div class="ap-cell">
						<div class="ap-overlay-area">
							<article class="ap-modal">
								<a href="#" class="icon-ms-round-cross ap-modal-close ap-btn-close"><span class="ap-txt">CERRAR</span></a>
								<h2 class="ap-tt">BASES Y CONDICIONES</h2>
								<div class="ap-scroll">
									<div class="ap-ovflow">
										<div class="ap-modal-terms-data"></div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</article>
